MIRROR_API_TOKEN=replace-with-a-random-token
FORGEJO_TOKEN=replace-with-a-forgejo-api-token
FORGEJO_SECRET_KEY=replace-with-a-random-secret
FORGEJO_INTERNAL_TOKEN=replace-with-a-random-secret
GITHUB_TOKEN=
